#microphone-popover {
    position: absolute;
    width: 14%;
    left: 45.5%;
    top: 33.3%;
}
#microphone-popover:focus {
    box-shadow: 0 0 0 3px lightskyblue;
}
#IMU-popover {
    position: absolute;
    width: 18%;
    left: 23.8%;
    top: 43.1%;
}
#IMU-popover:focus {
    box-shadow: 0 0 0 3px orange;
}
#SurroundingsSensor-popover {
    position: absolute;
    width: 11%;
    left: 45%;
    top: 42.2%;
}
#SurroundingsSensor-popover:focus {
    box-shadow: 0 0 0 3px Red;
}
#ClimateSensor-popover {
    position: absolute;
    width: 12%;
    left: 32%;
    top: 57%;
}
#ClimateSensor-popover:focus {
    box-shadow: 0 0 0 3px greenyellow;
}
#RGB-LED {
    position: absolute;
    width: 7%;
    padding-top: 7%;
    left: 24.2%;
    top: 33.6%;
}
.OffLED-bg {
  background-color: #F7DC96;
}



